* {
    /*border: 1px solid red !important;*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/*@media screen and (max-width:700px) and (orientation: landscape){
    col-4 {display:none;}    
}*/

.grid {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
/*    border-left: 2px solid black;
    border-right: 2px solid black;*/
}

/*.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}*/

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px; 
    width: 8.33%; 
    /*-- our gutter --*/
    padding: 12px;}


.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*-- setting border box on all elements inside the grid --*/
.grid *{
    box-sizing: border-box; 
}

/*.outline, .outline *{
    outline: 1px solid #F6A1A1; 
}


/*-- some extra column content styling --*/
/*[class*='col-'] > p {
 background-color: #FFC2C2; 
 padding: 0;
 margin: 0;
 text-align: center; 
 color: white; 
}*/

