/************* GENERAL ***********************/

*{
	color:black;
	/*line-height: 1.5;*/
}

/*code to use the new fonts
font-family: 'Allerta', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Josefin Slab', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;	
*/

body{
	background-color: #9EAF9F; /*#0C0B36; /*9A98D6; /*141161 #2E58C9*/
	font-size: 16px;
  	line-height: 1.2em;
}

.grid{
	/*background-color: #66CCFF;*/
	padding: 0 20px;
}


img {
	max-width:100%;
	border: 5px solid black;
}


a {
	text-decoration: none;
}


h1, h2, h3, h4, h5, h6{
	/*font-family: 'Josefin Slab', serif;*/
	/*font-family: 'Allerta, serif;*/
	font-family: 'Dancing Script', Georgia, Times, serif;
}

p, span {
	font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}

p {
	text-indent: 0.75em;
	text-align: justify;
	line-height: 1.8em;
}


/******logo*****/

.logo h2{
	margin: 35px 0 5px 0;
	padding: 0;
}

.logo-small-devices{
	display: none;
	text-align: center;
	padding: 0;
	margin: 0 0 20px 0;
}

.logo,
.logo-big-devices {
	padding: 0;
	margin:0;
}

.logo-big-devices h2{
	/*text-shadow: 1px 1px #6A6A75;*/
}

/*************** MENU BAR *********************/

.menu{
	line-height: 2em;
	text-align: center;
	padding-top: 0;
}


/*this rule align the menu to the left. ps:false! this only works to reduce the size of the menu bar*/
.menu ul, .menu ul li{   
	margin:0;
	padding:0;
	background-color: none;
}


.menu ul li{
	display:inline;
}


.menu ul li a, .menu ul li a:visited {
	font-size: 0.875em;
	font-weight: bold;
	font-family: 'Josefin Slab', serif; 
	padding: 1.4em 0 0.7em 0;  /*to guarantee a minimum size of 40x40 px of the menu links (specially for small devices)*/
}


.menu ul li a.selected, .menu ul li a:hover {
	border-bottom: 4px solid black;
	padding-bottom: 3px
}


/*Above is the code for the layout of the menu with sizes > 680px*/
.menu ul li a {
	margin: 0 0 0 400px;
}


.menu ul li a:first-child{
	margin: 0;
}


/*******************FOOTER***************************/
.footer {
	margin-top: 60px;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: center;
	border-top: 1px solid gray;

}

.footer ul li, .textFooter, .linkFooter{
	color: gray;

}

.footerJM {
	margin-bottom: 5px;
}

.linkFooter {
	text-decoration: underline;
}

.credits {
	font-size: 0.75em;
	text-align: center;
}


/************************************************
					INDEX (Accueil)
************************************************/

#s4{
	width: 100% !important;
    padding: 0;  
    margin:  0 auto;  
    display: block;
}
 
.photos-cycle{
    top:  0; 
    left: 0;
    width: 100% !important;
    height: auto !important;
    border: 8px solid black;
}

.text-long {
	padding: 5px 20px 5px 20px;
	max-width: 30em;
	float: none !important;
	margin-left: auto;
	margin-right: auto;
}

.text-accueil {
	max-width: 30em;
}

.center {
	text-align: center;
}

.fleches-index {
	display: block;
	margin: 0 auto;
	border: none;
}


/***********************************************
				PRESTATIONS
***********************************************/

.img-prestations {
	display: block;
	margin: 0 auto;
}

.text-prestations {
	max-width: 35em;
	margin-top: 20px;
}

.main-title-prestations{
}

/***********************************************
				CONTACT
***********************************************/

.info-contact {
	text-align: center;
	/*min-height: 490px;*/
}

.persons-contact{
	line-height: 1.6em;
}

.mail {
	margin-top: 40px;
}

.mail,
.phone {
	text-align: center;
}


.info-contact a {
	min-height:20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding:0 0 0 30px;
}

.info-contact p.mail a {
	background-image: url('../img/mail.png');
}

.info-contact p.phone a {
	background-image: url('../img/phone.png');
}












/************************************************
					PROJETS
************************************************/

.content-row {  /*to be sure the footer is down the page and not in the middle*/
	min-height: 490px;
}

.link-photo {
	position: relative;
	display: block;
}

.photo-cover {
	/*border-radius: 5%;*/
}

.title-project {
	position:absolute;
	/*margin-top: -50px;*/
	background: rgba(172,171,179,0.9);
	text-align: center;
	width: calc(100% - 10px);/*the 10px represents the borders*/
	bottom:10px;
	left: 5px;
	padding: 1.5% 0 1.5% 0;
	font-size: 0.85em; /*this font size was designed to addapt to a laptop of 1.250px wide*/
}

.bouton-haut-page {
	display: none;
}

.image-haut-page {
	display: block;
	margin: 0 auto;
	border: none;
}


/************************************************
					PROJET 1
************************************************/

/*Finally we'll not use those links !!!.link-back-project{
	color:#434346;
	font-size: 0.5em
}


.link-back-project a{
	color:#434346;
}*/


.photos-projects {
	margin: 0 1.5% 3% 1.5%;
	border-radius: 3% 3% 3% 3%;
}


.portrait {
	width: 46%;
}


.bouton-retour {
	margin: 0 auto;
	text-align: center;
}


.bouton-retour img {
		border-style: none;
		padding: 10px;
		margin: -25px auto 0;
}

