@media screen and (max-width: 680px) {
	
	/*The code above is used to give to spread our menu bar items/
	 with proportionated space between them(in small devices)*/
	.menu ul{
		display: -webkit-flex; /* Safari */
	    -webkit-justify-content: space-around; /* Safari 6.1+ */
	    display: flex;
	    justify-content: space-around;
	}

	/*.  test background color on top 
	rr {
		background-color: #7E8C7F;
	}*/
}



@media screen and (min-width: 480px) and (max-width: 680px) {
	

	.content-col.col-12{
		width: 50%;	
	}
	
	/***********Note:on 28/04 i commented this "clear: left" bacause it created a problem with the order of the cover pictures******/
	/*.content-row div:nth-child(3n){
		clear:left;
	}*/

	
	.menu {
		font-size:1.5em;
	}


	.menu ul li a {
		margin: 0 7px 0 7px;
	}

	/*Above we put less padding (compared with the small devices)/
	 to reduce the zone to activate the menu link, but we guarantee a zone >48x48px*/
	.menu ul li a,
	.menu ul li a:visited {
		padding: 1em 0 0.7em 0; 
	}
	/*************Projets***********/
	
	.title-project {
		font-size: 0.8em;
	}
}



@media screen and (min-width: 680px) and (max-width: 1080px) {

	.grid {
		width: 90%;
		/*margin-left: 100px;*/
		/*margin-right: 100px;*/
	}


	.content-col.col-12{
		width: 50%;	
	}
	
	/***********Note:on 28/04 i commented this "clear: left" bacause it created a problem with the order of the cover pictures******/
	/*.content-row div:nth-child(3n){
		clear:left;
	}*/


	.title-project {
		font-size: 1em!important;
	}
}


@media screen and (min-width: 680px) {

	/*We have to make the left and right side of the logo biggers to reduce the size of the logo*/
	/*#left-logo,
	#right-logo {
		width:41.66%;
	}*/


	/*To make the logo div size smaller, in small devices a col-4 (33.33%) is good but for devices bigger than /
	680px is too big, so we'll put the logo in a smaller container (16.66%)*/
	/*#logo {
		width:16.66%;
	}*/

	.menu {
		text-align: right;
	}

	.menu {
		font-size:1.8em;
	}


	.menu ul li {
		margin: 0 0 0 40px;
	}


	/*Above we still reduce the padding (compared with the small and medium devices)/		
	 to reduce the zone to activate the menu link, but we guarantee a zone >48x48px*/
	.menu ul li a,
	.menu ul li a:visited {
		padding: 0.8em 0 0.7em 0; 
	}
	/*******Index  -   Cycle-pictures********/

	#s4{
		width: 85% !important;
	}


	/*******Index  -   Layout text-accueil***/
	
	.text-accueil {
		width: 100%;
		float: center;
		margin: 0 auto;
		text-align: justify;
		padding: 0;
	}


	/*******Projets**********/
	
	.title-project {
		font-size: 0.75rem;
	}


	/*******Projet 1,2,3,4,5,etc...**********/

	.photos-projects { /*to display 2 pictures per line (as we did first for the portrait pictures in small devices)*/
		width: 46%;
	}
}


/*@media screen and (min-width: 680px) and (max-width: 1080px) and (min-height: 750px){

	body {
	border-top: 80px solid black;}
}*/


@media screen and (min-width: 1080px) {
	
	body {
		padding: 0 0;
		border-left: 200px solid black; /*this and the command above is to have the two big black borders on the sides*/
		border-right: 200px solid black;
		min-height: 1000px;  /*to avoid the black borders from the two lines ahead to be cut in the middle*/
	}
	

	#s4 {
		width: 72% !important;
	}
	
	/*******Projets**********/
	
	
	.content-col.col-12{
		width: 33.33%;
	}

	.content-row div:nth-child(3n){
		clear:right;
	}

	.content-row div:nth-child(4n){
		clear:left;
	}


	.title-project {
		font-size: 0.775em;
	}
}




/******************MINOR BREAKS POINT*****************/
@media screen and (min-width: 1250px) {

	.title-project {
			font-size: 1em;
		}




/*This min-height will avoid sides black margins to be too short on big screens*/
@media screen and (min-width: 1600px) {
	.grid {
		min-height: 2000px;
}

